@model Kund

@{
    ViewData["Title"] = "Ny användare";
    Layout = "~/Views/_LayoutMain.cshtml";
}

<form asp-action="Register" method="post">
	<fieldset>
		<legend>Registrera ny användare</legend>

		<p>
			<span asp-validation-for="AnvandarNamn"></span>
			<label asp-for="AnvandarNamn"></label>
			<input asp-for="AnvandarNamn" />
		</p>
		<p>
			<span asp-validation-for="Namn"></span>
			<label asp-for="Namn"></label>
			<input asp-for="Namn" />
		</p>
		<p>
			<span asp-validation-for="Email"></span>
			<label asp-for="Email"></label>
			<input asp-for="Email" />
		</p>
		<hr/>
		<p>
			<span asp-validation-for="Telefon"></span>
			<label asp-for="Telefon"></label>
			<input asp-for="Telefon" />
		</p>
		<p>
			<span asp-validation-for="Gatuadress"></span>
			<label asp-for="Gatuadress"></label>
			<input asp-for="Gatuadress" />
		</p>

		<p>
			<span asp-validation-for="Postnr"></span>
			<label asp-for="Postnr"></label>
			<input asp-for="Postnr" />
		</p>
		<p>
			<span asp-validation-for="Postort"></span>
			<label asp-for="Postort"></label>
			<input asp-for="Postort" />
		</p>
		<hr/>
		<p>
			<span asp-validation-for="Losenord"></span>
			<label asp-for="Losenord"></label>
			<input asp-for="Losenord" />
		</p>
		<p>
			<span asp-validation-for="LosenordConfirm"></span>
			<label asp-for="LosenordConfirm"></label>
			<input asp-for="LosenordConfirm" />
		</p>
		<hr/>
		<p>
			<input type="submit" value="Registrera"/>
		</p>
	</fieldset>
</form>