
table {
	width: 100%;
}

th {
	text-align: left;
}

thead tr:last-child th {
	border-bottom: 1px solid lightgray;
	padding-bottom: 0.5em;
}

tfoot tr:first-child th {
	border-top: 3px dashed lightgray;
	padding-top: 0.5em;
}

.cart-number {
	font-family: Courier New, Courier, monospace;
}