
fieldset legend {
	font-weight: bold;
}

form p > span, .form-error {
	color: red;
	display: block;
	padding: 0 10%;
}

form label {
	padding: 0 10%;
	display: block;
}

form input, button, .button, select {
	width: 80%;
	margin: 0 auto !important;
	display: block;
	padding: 0.5em;
	border: 1px solid lightgray;
	border-bottom: 3px solid lightgray;
	border-radius: 0.5em;
}

form input:focus, form select:focus {
	border-color: #666;
	outline: none;
}

form input[type="submit"], button, .button {
	padding: 0.5em;
	background-color: beige;
	color: #666;
	text-align: center;
}

form input[type="submit"]:hover, button:hover, .button:hover {
	color: #222;
	background-color: beige;
	
	border: 1px solid #666;
	border-bottom: 3px solid #666;
}

form input:disabled, button:disabled, .button:disabled, .button.disabled {
	background-color: lightgray;
	border: 1px solid gray;
	border-bottom: 3px solid gray;
	color: gray;
	cursor: not-allowed;
}