
* {
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: azure;
	margin: 0;
	background: url("/images/pizza-bg.jpg") repeat top;
}

a {
	text-decoration: none;
	border-bottom: 1px dotted navy;
	color: navy;
}

a:hover {
	border-bottom: 1px solid blue;
	color: blue;
}

article, header, nav {
	margin: 1em auto;
	border-radius: 1em;
	width: 90%;
	max-width: 42em;
}

article, header {
	padding: 1em;
	background-color: white;
	border-bottom: 2px solid gray;
}

article {
	margin-top: 0;
}

section, fieldset {
	border: 1px solid lightgray;
	border-bottom: 4px solid lightgray;
	border-radius: 1em;
	padding: 1em;
	margin: 1em 0;
}

header {
	text-align: center;
	margin-bottom: 0;
}

header > h1 {
	border-bottom: 3px solid lightgray;
	margin: 0;
}

header > h2 {
	color: gray;
	margin: 0;
}

nav {
	margin: 0 auto;
	padding: 0 1em;
}

nav > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

nav > ul:first-child {
	margin-top: -1em;
}

nav > ul:first-child > li > a {
	margin-top: 0;
	border-bottom: 2px solid navy;
}

nav > ul:first-child > li > a:hover {
	border-bottom: 2px solid blue;
}

nav > ul:last-child {
	margin-bottom: -1em;
}

nav > ul:last-child > li > a {
	margin-bottom: 0;
	border-top: 2px solid navy;
}

nav > ul:last-child > li > a:hover {
	border-top: 2px solid blue;
}

nav > ul > li {
	display: inline;
}

nav > ul > li > a {
	display: inline-block;
	background-color: white;
	padding: 0.5em 1em;
	margin: 0.5em 0;
	border-radius: 1em;
	text-decoration: none;
	color: navy;
	border-bottom: none;
}

nav > ul > li > a:hover {
	color: blue;
	border-bottom: none;
}

.big {
	font-size: x-large;
	font-weight: 600;
}

.mono {
	font-family: monospace;
	
}