
* {
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: azure;
	margin: 0;
	background: url("/images/pizza-bg.jpg") repeat top;
}

article, header {
	margin: 1em auto;
	border-radius: 1em;
	width: 90%;
	max-width: 42em;
}

article, header {
	padding: 1em;
	background-color: white;
	border-bottom: 2px solid gray;
}

section, fieldset {
	border: 1px solid lightgray;
	border-bottom: 4px solid lightgray;
	border-radius: 1em;
	padding: 1em;
	margin: 1em 0;
}

header {
	text-align: center;
}

header > h1 {
	border-bottom: 3px solid lightgray;
	margin: 0;
}

header > h2 {
	color: gray;
	margin: 0;
}

.big {
	font-size: x-large;
	font-weight: 600;
}

.mono {
	font-family: monospace;
	
}

.navbar .divider-vertical {
	width: 0;
	margin: 0 0.5rem;
	overflow: hidden;
	border-left: 1px solid #e9ecef;
}

.navbar.navbar-dark .divider-vertical {
	border-left: 1px solid #666;
}