
@{
	Layout = "_Layout";
	string message = ViewData["Message"] as string ?? TempData["Message"] as string;
}

@section Scripts
{@RenderSection("Scripts", required: false)}

@if (!string.IsNullOrEmpty(message))
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@message</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}

@RenderBody()