
@{ Layout = "_Layout"; }

@section Scripts
{@RenderSection("Scripts", required: false)}

@if (ViewData["Message"] is string message && !string.IsNullOrEmpty(message))
{
	<h2>@message</h2>
}

@RenderBody()