@{
	Kund kund = ViewBag.Kund;
	List<Matratt> cart = ViewBag.Cart;
}

<!DOCTYPE html>
<html lang="sv">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>@ViewData["Title"]</title>

	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
	<link asp-href-include="css/*.css" rel="stylesheet" />
</head>
<body>
<header>
	<h1>Tomasos</h1>
	<h2>@ViewData["Title"]</h2>
</header>
<nav>
	<ul>
		<li><a asp-action="Index">Maträtter</a></li>
		<li><a asp-action="ViewCart">Kundvagn (@cart.Count rätt@(cart.Count == 1 ? "" : "er"))</a></li>
	</ul>
	<ul>
	@if (kund == null)
	{
		<li><a asp-action="Login">Logga in</a></li>
		<li><a asp-action="Register">Registrera ny kund</a></li>
	}
	else
	{
		<li><a asp-action="Account">Min profil</a></li>
		<li><a asp-action="Logout">Logga ut</a></li>
	}
	</ul>
</nav>
<article>
	@RenderBody()
</article>
</body>
</html>