@model ViewKund

@{
    ViewData["Title"] = "Konto";
    Layout = "~/Views/_LayoutMain.cshtml";
}

<form asp-action="Account" method="post">
	<fieldset>
		<legend>Ändra profildetaljer</legend>
		<div asp-validation-summary="All"></div>
		<p>
			<label asp-for="CurrentKund.AnvandarNamn"></label>
			<input asp-for="CurrentKund.AnvandarNamn" disabled="disabled" />
		</p>
		<hr/>
		<p>
			<span asp-validation-for="Namn"></span>
			<label asp-for="Namn"></label>
			<input asp-for="Namn" />
		</p>
		<p>
			<span asp-validation-for="Email"></span>
			<label asp-for="Email"></label>
			<input asp-for="Email" />
		</p>
		<hr />
		<p>
			<span asp-validation-for="Telefon"></span>
			<label asp-for="Telefon"></label>
			<input asp-for="Telefon" />
		</p>
		<p>
			<span asp-validation-for="Gatuadress"></span>
			<label asp-for="Gatuadress"></label>
			<input asp-for="Gatuadress" />
		</p>
		<p>
			<span asp-validation-for="Postnr"></span>
			<label asp-for="Postnr"></label>
			<input asp-for="Postnr" />
		</p>
		<p>
			<span asp-validation-for="Postort"></span>
			<label asp-for="Postort"></label>
			<input asp-for="Postort" />
		</p>
		<hr />
		<p>
			<span asp-validation-for="NewLosenord"></span>
			<label asp-for="NewLosenord"></label>
			<input asp-for="NewLosenord" />
		</p>
		<p>
			<span asp-validation-for="NewLosenordConfirm"></span>
			<label asp-for="NewLosenordConfirm"></label>
			<input asp-for="NewLosenordConfirm" />
		</p>
		<hr />
		<p>
			<span asp-validation-for="OldLosenord"></span>
			<label asp-for="OldLosenord"></label>
			<input asp-for="OldLosenord" />
		</p>
		<p>
			<input type="submit" value="Spara" />
		</p>
	</fieldset>
</form>
