@model ApplicationUser
@{
    ViewData["Title"] = "Tidigare beställningar";
}

@if (Model.Bestallning.Count == 0)
{
	<section>
		<p>
			<i>Du har inga tidigare beställningar.</i>
		</p>
	</section>
}
else
{
	foreach (Bestallning b in Model.Bestallning.OrderByDescending(b => b.BestallningDatum))
	{
		await Html.RenderPartialAsync("_OrderPartial", b);
	}
}